
.entrada {
    max-width: 80rem;
    margin: 0 auto;
}

.contenido {
    padding: 2rem;
}

.contenido h3 {
    font-weight: 400;
    font-size: 2.8rem;
    margin: 0;
    line-height: 1.2;
}

.fecha {
    font-size: 1.6rem;
    color: var(--grisOscuro);
}

.resumen {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
}

.enlace {
    margin-top: 2rem;
    display: block;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 900;
    color: var(--negro);
    border: 2px solid var(--primary);
    padding: 1rem 5rem;
    transition-property: background-color;
    transition-duration: .3s;
}

.enlace:hover {
    background-color: var(--primary);
    color: var(--blanco);
}

.texto {
    white-space: pre-wrap;
}

.categoria_contenedor {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.categoria {
    margin-top: 2rem;
    text-decoration: none;
    text-align: left;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 900;
    padding: 1rem 2rem;
    background-color: var(--rojo);
    color: var(--blanco);
    border-radius: 2rem;
}

.categoria:hover {
    cursor: pointer;
}